html, body, ons-template, ons-page {
    height: 100%;
}

/*　　*/
.firstset {
    width: 98%;
    height: 98%;
    margin: 0 auto;
    background-color: #ffd800;
}

/* トップページ */

.homebutton {
    position: relative;
    width: 100%;
    height: 48%;
    margin-top: 2%;
}

.homebutton #rimoconbutton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    width: auto;
    margin: auto;
}

.homebutton #settingbutton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: auto;
}

/* トップページ */

/*
    .homebutton {
    position: relative;
    top: 70px;
    left: 20px;
}
*/

#Rchoice ons-button:first-child {
    margin-left: 0;
}

#Rchoice ons-button {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}

.choice img {
    width: 90px;
    height: 90px;
    position: relative;
    top: 5px;
    left: -11px;
}

/* TV画面 */

.firstrow ons-button:first-child,
.secondrow ons-button:first-child,
.thirdrow ons-button:first-child,
.fourthrow ons-button:first-child,
.fifthrow ons-button:first-child,
.sixrow ons-button:first-child,
.uprow ons-button:first-child,
.downrow ons-button:first-child {
    margin: 0;
}

.tvrow {
    width: 98%;
    height: 98%;
    margin: 0 auto;
}

.firstrow {
    height: 10%;
    width: 100%;
    margin-top: 2%;
}

.firstrow ons-button {
    width: 48%;
    height: 100%;
    margin: 0 0 0 2%;
    font-size: 60px;
}

.secondrow {
    height: 10%;
    width: 100%;
    margin-top: 2%;
}

.secondrow ons-button:nth-child(2) {
    width: 32%;
    height: 100%;
    margin: 0 0 0 2%;
    display:inline-block;
}

.secondrow ons-button {
    width: 31%;
    height: 100%;
    margin: 0 0 0 2%;
    display:inline-block;
}

.channelrow {
    height: 10%;
    margin-top: 2%;
}

.channelrow ons-button {
    width: 30%;
    height: 100%;
    margin: 0 0 0 4%;
}

.uprow {
    height: 10%;
    margin-top: 2%;
}

.uprow ons-button {
    width: 30%;
    height: 100%;
    margin: 0 0 0 39%;
}

.downrow {
    height: 10%;
    margin-top: 2%;
}

.downrow ons-button {
    width: 30%;
    height: 100%;
    margin: 0 0 0 39%;
}

.typerow {
    width: 100%;
    height: 8%;
    margin-top: 2%;
}


.typerow #channel {
    margin-left: 10%;
}


.typerow #volume {
    margin-left: 63%;
}

/* tv画面 */

/* 照明画面 */

.illumset {
    width: 100%;
    height: 40%;
    margin: 0;
}

.brightness {
    width: 50%;
    height: 70%;
    float: left;
    border: solid 3px;
    border-radius: 25px;
    background-color: darkgray;
    margin-top: 5%;
    margin-left: 10%;
}

.updown {
    height: 100%;
    margin-left: 70%;
    background-color: aliceblue;
}


.updown p {
    margin-top: 10%;
    margin-left: 8%;
}

.updown ons-button {
    width: 40%;
    height: 20%;
    margin-top: 10%;
}

.updown ons-button:first-child {
    margin-top: 35%;
}

.illumbutton {
    width: 100%;
    height: 60%;
}

.illumbutton ons-button {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

/* 照明画面　*/

/* エアコン画面 */

.temperature {
    width: 100%;
    height: 26%;
    border: solid 3px;
    border-radius: 25px;
    margin-top: 2%;
    background-color: darkgray;
}


.temp .tempstartbtn {
    width: 100%;
    height: 25%;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    padding: 23px;
}

.temp .tempbtn {
    width: 47%;
    height: 12%;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    padding: 23px;
}

/* エアコン画面 */

/* 連動設定詳細 /*